.App {
    background-color: grey;
    width: 550px;
    height: 400px;
}

/* =========== DASHBOARD STYLES ================*/
/* DASHBOARD COMPONENT */

/* TEMPERATURE COMPONENT */
.temp { grid-area: temp; }
.low { grid-area: low;}
.high { grid-area: high;}
.humidity { grid-area: humid; }

div.temp-container {
    display: grid;
    grid-template-areas: "temp temp high"
                         "temp temp low"
                         "feel feel humidity";
}